.row
  .col-md-6
    = simple_form_for([:admin, @category], html: {multipart: true}) do |f|
      = f.error_notification message: t('messages.error_notification')

      .form-inputs
        = f.input :name
        = f.input :title
        = f.input :abstract
        = f.input :position, as: :hidden
        = f.input :status, default: 1
        /= render 'admin/shared/status_buttons', f: f
        = f.input :url
        = f.input :seo_title
        = f.input :seo_keywords
        = f.input :seo_description

      .form-inputs
        = f.label t 'content'
        = f.rich_text_area :content
      %hr
      .form-inputs
        .row
          .col-4
            = f.label t 'images.cover_image'
          .col-6
            = f.file_field :cover_image
      %br
        .row
          - if @category.cover_image.attached?
            .col-md-3
              = image_tag @category.cover_image.variant(resize_to_fit: [100, 100])
            .col.-md-2
              = f.check_box :remove_cover_image
              %i.fas.fa-trash
          %br           

      %hr
      .form_actions
        .row
          .col-md-3
            = f.submit t('actions.save'), class: 'btn btn-primary btn-sm'
          .col-md-3
            = link_to t('actions.back'), admin_categories_path, class: 'btn btn-info btn-sm'
